streamlit
streamlit-option-menu
streamlit-lottie
streamlit-extras
streamlit-custom-notification-box
python-docx
pandas
plotly
pillow
python-dotenv
pdfminer.six
nltk
scikit-learn
sqlalchemy
openpyxl
requests
spacy
pypdf
selenium
numpy
webdriver-manager
google-generativeai
pdf2image
pytesseract
pdfplumber
reportlab
docx2txt
xlsxwriter
bcrypt
